<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:musicPlayer.properties"/>

    <bean id="testBean" class="org.learning.app.TestBean">
        <constructor-arg value="valueFromXml"/>
    </bean>

    <bean id="classicMusic" class="org.learning.app.music.ClassicMusic">
    </bean>

    <bean id="rockMusic" class="org.learning.app.music.RockMusic">
    </bean>

    <bean id="classicMusicPlayer" class="org.learning.app.music.MusicPlayer">
        <constructor-arg ref="classicMusic"/>
        <property name="name" value="ClassicMusicPlayer"/>
        <property name="volume" value="35"/>
    </bean>

    <bean id="rockMusicPlayer" class="org.learning.app.music.MusicPlayer">
        <constructor-arg ref="rockMusic"/>
        <property name="name" value="${rockMusicPlayer.name}"/>
        <property name="volume" value="${rockMusicPlayer.volume}"/>
    </bean>
</beans>
